absl-py==0.11.0  # Installed w conda
# actionlib==1.12.1
# angles==1.9.12
astor==0.8.1  # Installed w conda
atari-py==0.2.6  # Installed when I run pip install baselines
baselines==0.1.6 # Installed w pip
# bondpy==1.8.5
boto3==1.9.228  # Installed w conda
botocore==1.12.228  # Installed w conda
Box2D==2.3.10  # Installed w conda-forge box2d-py
cached-property==1.5.2  # Installed w conda-forge
# camera-calibration==1.15.0
# camera-calibration-parsers==1.11.13
category-encoders==2.1.0  # Installed w conda-forge
# catkin==0.7.29
# certifi==2020.6.20
cffi==1.14.4  # Installed w conda
click==7.1.2  # Installed w conda
cloudpickle==1.2.2  # Installed w conda
# controller-manager==0.18.2
# controller-manager-msgs==0.18.2
# cv-bridge==1.13.0
cycler==0.10.0  # Installed w conda
Cython==0.29.13  # Installed w conda
decorator==4.4.2  # Installed w conda
# diagnostic-analysis==1.9.7
# diagnostic-common-diagnostics==1.9.7
# diagnostic-updater==1.9.7
docutils==0.15.2  # Installed w conda
# dynamic-reconfigure==1.6.3
future==0.18.2  # Installed w conda 
gast==0.4.0  # Installed w conda
# gazebo-plugins==2.8.7
# gazebo-ros==2.8.7
# gencpp==0.6.5
# geneus==2.2.6
# genlisp==0.4.16
# genmsg==0.5.16
# gennodejs==2.0.1
# genpy==0.6.14
glfw==1.8.3  # Installed w conda
google-pasta==0.2.0  # Installed w conda
grpcio==1.33.2  # Installed w conda 
gtimer==1.0.0b5  # TODO: Install w pip
gym==0.14.0  # Installed when I run pip install baselines
h5py==2.10.0  # Installed w conda
hjson==3.0.1  # Ignore for now
# image-geometry==1.13.0
imageio==2.9.0  # Installed w conda
importlib-metadata==2.1.0  # Installed w conda (Installed already)
# interactive-markers==1.11.5
jmespath==0.10.0  # Installed w conda (Installed already) 
joblib==0.14.1  # Installed w conda
# joint-state-publisher==1.12.15
kdl-parser-py==1.13.1  # Can't install but also not needed
Keras-Applications==1.0.8  # Ignore for now (Installed when I install tensorflow)
Keras-Preprocessing==1.1.0  # Ignore for now (Installed when I install tensorflow)
# laser-geometry==1.6.5
Markdown==3.2.2  # Ignore for now (Installed when I install tensorflow)
matplotlib==2.0.2  # Installed w conda
# message-filters==1.14.10
# mujoco-py==1.50.1.56 (Installed when I install baselines)
numpy==1.17.2  # Installed w conda
opencv-python==4.1.1.26  # Installed w conda
pandas==0.25.3  # Already installed
path==13.1.0  # Installed w conda
patsy==0.5.1  # Installed w conda
Pillow==7.2.0  # Already installed
protobuf==3.9.1 # Installed w conda
ptyprocess==0.6.0  # Installed w conda
pybullet==1.9.5  # Installed w conda
pycparser==2.19  # Already installed
pydmps==0.2  # Installed w pip
pygame==1.9.6  # Installed when I install pip install baselines
pyglet==1.3.2  # Installed w conda
Pygments==2.6.1  # Installed w conda
PyOpenGL==3.1.0  # Installed w conda
pyparsing==2.4.2  # Already installed
pyquaternion==0.9.5  # Installed w conda
python-dateutil==2.8.1  # Already installed
# python-qt-binding==0.4.3
pytz==2020.4  # Installed w conda
# qt-dotgraph==0.4.2
# qt-gui==0.4.2
# qt-gui-cpp==0.4.2
# qt-gui-py-common==0.4.2
# resource-retriever==1.12.6
# rosbag==1.14.10
# rosboost-cfg==1.14.9
# rosclean==1.14.9
# roscreate==1.14.9
# rosgraph==1.14.10
# roslaunch==1.14.10
# roslib==1.14.9
# roslint==0.11.2
# roslz4==1.14.10
# rosmake==1.14.9
# rosmaster==1.14.10
# rosmsg==1.14.10
# rosnode==1.14.10
# rosparam==1.14.10
# rospy==1.14.10
# rosservice==1.14.10
# rostest==1.14.10
# rostopic==1.14.10
# rosunit==1.14.9
# roswtf==1.14.10
# rqt-action==0.4.9
# rqt-bag==0.4.14
# rqt-bag-plugins==0.4.14
# rqt-console==0.4.9
# rqt-dep==0.4.9
# rqt-graph==0.4.11
# rqt-gui==0.5.2
# rqt-gui-py==0.5.2
# rqt-image-view==0.4.16
# rqt-launch==0.4.8
# rqt-logger-level==0.4.8
# rqt-moveit==0.5.7
# rqt-msg==0.4.8
# rqt-nav-view==0.5.7
# rqt-plot==0.4.9
# rqt-pose-view==0.5.8
# rqt-publisher==0.4.8
# rqt-py-common==0.5.2
# rqt-py-console==0.4.8
# rqt-reconfigure==0.5.3
# rqt-robot-dashboard==0.5.7
# rqt-robot-monitor==0.5.13
# rqt-robot-steering==0.5.10
# rqt-runtime-monitor==0.5.7
# rqt-rviz==0.6.0
# rqt-service-caller==0.4.8
# rqt-shell==0.4.9
# rqt-srv==0.4.8
# rqt-tf-tree==0.6.0
# rqt-top==0.4.8
# rqt-topic==0.4.11
# rqt-web==0.4.8
# rviz==1.13.14
s3transfer==0.2.1  # Already installed
scikit-learn==0.22.2.post1  # Already installed
scipy==1.4.1    # Installed w conda
# sensor-msgs==1.12.7
six==1.15.0  # Already installed
# smach==2.0.1
# smach-ros==2.0.1
# smclib==1.8.5
statsmodels==0.11.1  # Installed w conda
tb-nightly==1.14.0a20190603  # Ignored for now
tensorboard==1.14.0  # Already installed (installed tensorboard 2 first)
tensorboardX==1.8  # Ignored for now
tensorflow==2.0.0b1  # Installled w conda
tensorflow-estimator==1.14.0  # Installed w conda
tensorflow-probability==0.7.0  # Installed w conda
termcolor==1.1.0  # Already installed
# tf==1.12.1
# tf-conversions==1.12.1
tf-estimator-nightly==1.14.0.dev2019060501  # Ignored for now
# tf2-geometry-msgs==0.6.5
# tf2-kdl==0.6.5
# tf2-py==0.6.5
# tf2-ros==0.6.5
Theano==1.0.4  # Ignored for now
# topic-tools==1.14.10
torch==1.2.0  # Installed w conda (1.12 was default version installed, also installed torchvision in case it's needed)
tqdm==4.54.0  # Installed w conda
urdfdom-py==0.4.4  # Ignore for now
urllib3==1.25.11  # Already installed
Werkzeug==1.0.1  # Already installed
wrapt==1.12.1  # Already installed
# xacro==1.13.9
zipp==1.2.0  # Already installed
